/*Frío, Frío...*/

*{
	font-family: 'Roboto', sans-serif;
}

.container{
	text-align: center;
	width: 50%;
	background: transparent;
	padding:3px;
	position: absolute;
	left: 50%;
	color:red;
	font-size: 110pt;
	font-weight: bold;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	
}


body{
	background-image: url("../../img/contador.jpg");


}

		